@charset "utf-8";
body {
    background-image: url(imagem\ de\ fundo.webp);
}
a {
    text-decoration: none;
    color: rgb(230, 84, 116);
    font-family: 'Times New Roman', Times, serif;   
}
h1 {
    text-align: center;
    color: rgb(226, 29, 29);
    background-color: rgb(75, 10, 10);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 {
    text-align: center;
    color: rgb(228, 50, 50);
    background-color: rgb(255, 211, 205);
}
p {
    text-align: center;
    color: rgb(175, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p1 {
    color: rgb(240, 208, 208);
    font-family: 'Courier New', Courier, monospace;
}
p2 {
    color: rgb(211, 95, 134);
}
footer {
    text-align: center;
    background-color: rgb(80, 21, 21);
    color: rgb(238, 22, 22);
}